
@model List<FeedAttributeDto>

@using DataTransferObjects.Models

<div class="card bg-light mb-3 overflow-scroll">

    <div class="card-header">
        <h4>Valgte Attributter</h4>
    </div>

    <div class="card-body">
        
           @foreach (FeedAttributeDto attribute in Model)
            {
                <p class="d-inline">@attribute.Attribute,</p>
            }


    </div>

</div>