
@using DataTransferObjects.Models

@model List<FeedCategoryDto>


<div class="card bg-light mb-3 overflow-scroll">

    <div class="card-header">
        <h4>Valgte kategorier</h4>
    </div>

    <div class="card-body">

        @foreach (FeedCategoryDto category in Model)
        {
            <p class="d-inline">@category.FeedCategoryName,</p>
        }



    </div>

</div>
