
@{
    ViewBag.Title = "Feeds";
}

@Html.Partial("_PageHeading", "Administerer Productfeeds")

<p>I denne sektion har man mulighed for at bygge produkt feeds som kan bruges til annoncering på eksterne hjemmesider.</p>

@Html.ActionLink("Opret nyt feed", "Create", null, new { @class = "btn btn-primary" })

