

<div id="preloader" class="min-vw-100 min-vh-100 d-flex justify-content-center align-items-center" style="position: fixed; left:0px; top:0px; z-index: 1000;">
    <div class="spinner-border"></div>
</div>


