
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeCalculatorResult</title>
</head>
<body>
    <div> 
        <h1>Time calculaiton result:</h1>
        <p>@ViewBag.Hours hours + @ViewBag.Minutes minutes + @ViewBag.Seconds = @ViewBag.Total seconds in total </p>
    </div>
</body>
</html>
