
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 - Page not found</title>
</head>
<body>
    <div> 


        <h1>404 - Den efterspurgte ressource blev ikke fundet</h1>
       <a href="/">Tilbage til hjemmeside</a>
    </div>
</body>
</html>
