
@model Lektion_11___MVC_APS.NET_1.Models.PersonModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Name: @Model.Name</p>
        <p>Age: @Model.Age</p>
        <p>Birthday: @Model.BirthDay</p>


    </div>
</body>
</html>
