
@using SalesSystemWebApp.ViewModels
@using DataTransferObjects.Models

@model SalesViewModel


@{
    ViewBag.Title = "Overview";
}




@Html.Partial("_PageHeading", "Salgsoverblik")




<table style="margin-top: 20px;" class="table table-bordered">
    @Html.Partial("_TableHeader", new List<string> { "Salgs ID", "Total pris:", "Detaljer", "Slet salg" })

    @foreach (SaleDto sale in Model.Sales)
    {

        @Html.Partial("_Sale", sale)

    }
</table>


<h5 style="margin-top: 20px;">Antal Salg: @Model.Sales.Count</h5>
