@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sales System</h1>
    <p class="lead">Formålet med dette system er blandt andet at kunne foretage salg af produkter, se statestik over salg og realisere forskellige use cases.</p>
    <p><a href="@Url.Action("Index","Sales")" class="btn btn-primary btn-lg">Foretag salg &raquo;</a></p>
</div>





